.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.claude


# Ignore Python virtual environment
/.venv/**

# Ignore everything in the specstory folder (Cursor extention which exports chat histories)
/.specstory/
# SpecStory explanation file
.specstory/.what-is-this.md
